{% extends 'main.html' %}

{% block content %}
<div class="card">
    <div class="row ps-4 pt-4">
        <div class="col-md-2">
            {% for message in messages %}
            <span class="badge bg-gradient-success w-auto">{{message}}</span>
            {% endfor %}
        </div>
    </div>
    <div class="card-header border border-start-0 border-top-0 border-end-0">
        <div class="d-flex flex-md-row flex-column justify-content-between align-items-center">
            <div class="d-block">
                <h6 class="m-0">Data produk</h6>
                <span class="d-block text-xs text-secondary">Menampilkan transaksi seluruh produk</span>
            </div>
            <button
                type="submit"
                class="btn btn-success rounded-0"
                data-bs-toggle="modal"
                data-bs-target="#importModal"
            >Import Data</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table text-sm" id="tabel-user">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Barang</th>
                        <th>Kode</th>
                        <th>Merek</th>
                        <th>Satuan</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ row.nama }}</td>
                        <td>{{ row.kode }}</td>
                        <td>{{ row.merk }}</td>
                        <td>{{ row.satuan }}</td>
                        <td>
                            <a href="/data/delete/{{ row.id }}" class="btn btn-sm btn-danger rounded-0 p-0 ps-3 pe-3 pt-2 pb-2">Hapus</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- modal import data -->
{% include 'data/component/import.html' %}

<script>
    let table = new DataTable("#tabel-user")
</script>
{% endblock %}