{% extends 'main.html' %}

{% block content %}
<div class="card">
    <div class="row ps-4 pt-4">
        <div class="col-md-2">
            {% for message in messages %}
            <span class="badge bg-gradient-success w-auto">{{message}}</span>
            {% endfor %}
        </div>
    </div>
    <div class="card-header border border-start-0 border-top-0 border-end-0">
        <div class="d-flex flex-md-row flex-column justify-content-between align-items-center">
            <div class="d-block">
                <h6 class="m-0">Data pengguna</h6>
                <span class="d-block text-xs text-secondary">Menampilkan data seluruh admin</span>
            </div>
            <button
                type="button"
                class="btn btn-primary rounded-0"
                data-bs-toggle="modal"
                data-bs-target="#modalAddAdmin"
            >Tambah Admin</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table text-sm" id="tabel-user">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Dibuat Pada</th>
                        <th>Terakhir Login</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr class="align-center">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ row.nama }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.created_at }}</td>
                        <td>{{ row.login_at }}</td>
                        <td>
                            <a href="/user/delete/{{ row.user_id }}" class="btn btn-sm btn-danger w-auto rounded-0 ps-3 pe-3">hapus</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- modal add user -->
{% include 'user/component/add.html' %}

<script>
    let table = new DataTable("#tabel-user")
</script>
{% endblock %}